/VisualC/.vs

/VisualC/Win32
/VisualC/SDL/Win32
/VisualC/SDLmain/Win32
/VisualC/SDLtest/Win32

/VisualC/tests/checkkeys/Win32
/VisualC/tests/controllermap/Win32
/VisualC/tests/loopwave/Win32
/VisualC/tests/testatomic/Win32
/VisualC/tests/testautomation/Win32
/VisualC/tests/testdraw2/Win32
/VisualC/tests/testfile/Win32
/VisualC/tests/testgamecontroller/Win32
/VisualC/tests/testgesture/Win32
/VisualC/tests/testgl2/Win32
/VisualC/tests/testgles2/Win32
/VisualC/tests/testjoystick/Win32
/VisualC/tests/testoverlay2/Win32
/VisualC/tests/testplatform/Win32
/VisualC/tests/testpower/Win32
/VisualC/tests/testrendertarget/Win32
/VisualC/tests/testrumble/Win32
/VisualC/tests/testscale/Win32
/VisualC/tests/testshape/Win32
/VisualC/tests/testsprite2/Win32
/VisualC/tests/testvulkan/Win32
/VisualC/tests/testyuv/Win32

/VisualC/x64
/VisualC/SDL/x64
/VisualC/SDLmain/x64
/VisualC/SDLtest/x64

/VisualC/tests/checkkeys/x64
/VisualC/tests/controllermap/x64
/VisualC/tests/loopwave/x64
/VisualC/tests/testatomic/x64
/VisualC/tests/testautomation/x64
/VisualC/tests/testdraw2/x64
/VisualC/tests/testfile/x64
/VisualC/tests/testgamecontroller/x64
/VisualC/tests/testgesture/x64
/VisualC/tests/testgl2/x64
/VisualC/tests/testgles2/x64
/VisualC/tests/testjoystick/x64
/VisualC/tests/testoverlay2/x64
/VisualC/tests/testplatform/x64
/VisualC/tests/testpower/x64
/VisualC/tests/testrendertarget/x64
/VisualC/tests/testrumble/x64
/VisualC/tests/testscale/x64
/VisualC/tests/testshape/x64
/VisualC/tests/testsprite2/x64
/VisualC/tests/testvulkan/x64
/VisualC/tests/testyuv/x64

/VisualC/tests/controllermap/*.bmp
/VisualC/tests/loopwave/*.wav
/VisualC/tests/testgamecontroller/*.bmp
/VisualC/tests/testoverlay2/*.dat
/VisualC/tests/testrendertarget/*.bmp
/VisualC/tests/testscale/*.bmp
/VisualC/tests/testsprite2/*.bmp
/VisualC/tests/testyuv/*.bmp

/build

/lib/*.framework

/lib/x64/*.lib
/lib/x64/*.dll
/lib/x64/*.dylib
/lib/x64/linux/*.h
/lib/x64/*.a
/lib/x64/*.la
/lib/x64/*.so
/lib/x64/*.0
/lib/x64/*.1
/lib/x64/*.10

/lib/x86/*.lib
/lib/x86/*.dll
/lib/x86/*.dylib
/lib/x86/linux/*.h
/lib/x86/*.a
/lib/x86/*.la
/lib/x86/*.so
/lib/x86/*.0
/lib/x86/*.1
/lib/x86/*.10

/Makefile
/Makefile.rules
/config.log
/config.status
/libtool
/sdl2-config
/sdl2-config-version.cmake
/sdl2-config.cmake
/sdl2.pc

*.VC.db
*.VC.VC.opendb
