/VisualC/.vs

/VisualC/Win32
/VisualC/native_midi/Win32
/VisualC/playmus/Win32
/VisualC/playwave/Win32
/VisualC/timidity/Win32

/VisualC/x64
/VisualC/native_midi/x64
/VisualC/playmus/x64
/VisualC/playwave/x64
/VisualC/timidity/x64

/build

/lib/*.framework

/lib/x64/*.lib
/lib/x64/*.dll
/lib/x64/*.dylib
/lib/x64/*.a
/lib/x64/*.la
/lib/x64/*.so
/lib/x64/*.0
/lib/x64/*.1
/lib/x64/*.2

/lib/x86/*.lib
/lib/x86/*.dll
/lib/x86/*.dylib
/lib/x86/*.a
/lib/x86/*.la
/lib/x86/*.so
/lib/x86/*.0
/lib/x86/*.1
/lib/x86/*.2

/Makefile
/SDL2_mixer.pc
/SDL2_mixer.spec
/config.log
/config.status
/libtool

*.VC.db
*.VC.VC.opendb
