/x64_debug/*.0
/x64_debug/*.1
/x64_debug/*.so
/x64_debug/*.dll
/x64_debug/*.exe
/x64_debug/bitty
/x64_release/*.0
/x64_release/*.1
/x64_release/*.so
/x64_release/*.dll
/x64_release/*.exe
/x64_release/bitty
/x86_debug/*.0
/x86_debug/*.1
/x86_debug/*.so
/x86_debug/*.dll
/x86_debug/*.exe
/x86_debug/bitty
/x86_release/*.0
/x86_release/*.1
/x86_release/*.so
/x86_release/*.dll
/x86_release/*.exe
/x86_release/bitty
/bitty.app

/data
/data.bit
