/config.log
/config.status
/curl-config
/docs/Makefile
/docs/cmdline-opts/Makefile
/docs/examples/.deps
/docs/examples/Makefile
/docs/libcurl/Makefile
/docs/libcurl/opts/Makefile
/include/Makefile
/include/curl/Makefile
/lib/.deps
/lib/.dirstamp
/lib/.libs
/lib/Makefile
/lib/*.lo
/lib/*.o
/lib/curl_config.h
/lib/libcurl.la
/lib/libcurl.vers
/lib/stamp-h1
/lib/vauth/.deps
/lib/vauth/.dirstamp
/lib/vauth/*.lo
/lib/vauth/*.o
/lib/vquic/.deps
/lib/vquic/.dirstamp
/lib/vquic/*.lo
/lib/vquic/*.o
/lib/vssh/.deps
/lib/vssh/.dirstamp
/lib/vssh/*.lo
/lib/vssh/*.o
/lib/vtls/.deps
/lib/vtls/.dirstamp
/lib/vtls/*.lo
/lib/vtls/*.o
/src/.deps
/src/*.o
/src/Makefile
/src/curl
/tests/Makefile
/tests/certs/Makefile
/tests/certs/scripts/Makefile
/tests/configurehelp.pm
/tests/data/Makefile
/tests/libtest/.deps
/tests/libtest/Makefile
/tests/server/.deps
/tests/server/Makefile
/tests/utils/.deps
/tests/unit/.deps
/tests/unit/Makefile
/packages/Makefile
/packages/vms/Makefile
/scripts/Makefile
/libcurl.pc
/libtool

/libcurl.framework
/x64/libcurl.a
/x64/libcurl.la
/x64/libcurl.lai
/x64/libcurl.so
/x64/libcurl.so.4
/x64/libcurl.so.4.7.0
/x86/libcurl.a
/x86/libcurl.la
/x86/libcurl.lai
/x86/libcurl.so
/x86/libcurl.so.4
/x86/libcurl.so.4.7.0
