body {
  margin: 0;
  padding: 0;
  background-color: rgb(77, 88, 100);
  font: 14px Helvetica, Arial, sans-serif;
}
table, th, td {
  border: 1px black solid;
  border-collapse: collapse;
}
a:link,
a:visited {
  color: #69c;
  text-decoration: none;
}
.page {
  width: 750px;
  margin: 2em auto;
  padding: 20px 50px;
  border-radius: 1em;
  background-color: #fff;
  box-shadow: 0px 0px 20px 8px #969696;
  -webkit-box-shadow: 0px 0px 20px 8px #969696;
}
.hr {
  width: 50%;
  height: 1px;
  border: 0;
  margin: 0 auto;
  margin-top: 40px;
  background-image: linear-gradient(to right, rgba(100, 100, 100, 0), rgba(100, 100, 100, 0.75), rgba(100, 100, 100, 0));
}
.content {
  position: relative;
}
.round-image {
  border-radius: 8px;
}
.round-banner {
  border-radius: 8px;
}
.more {
  display: inline-block;
  width: 100%;
  max-height: 40px;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(to bottom, transparent, rgba(165, 165, 165, 0.9));
}
.more-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  width: 12em;
  padding: .5em;
  border: none;
  border-radius: 6px;
  color: #fff;
  background-color: rgb(77, 88, 100);
}
.button:hover {
  border: none;
  background: rgb(255, 199, 95);
  box-shadow: 0px 0px 1px #777;
}
.frame {
  width: 490px;
  height: 190px;
}
@media (max-width: 870px) {
  body {
    background-color: #fff;
  }
  .page {
    width: auto;
    margin: 0 auto;
    padding: 1em;
    border-radius: 0;
  }
  .box {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .round-banner {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .frame-container {
    display: block;
    width: 100%;
    height: auto;
  }
  .frame {
    max-width: 100%;
  }
}
